# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    redis_host:        redis://localhost

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user: ~
    mailer_password: ~
    mailer_encryption: ~
    mailer_port: ~
    mailer_encryption: ~
    mailer_source_address: ~

    secret: ThisTokenIsNotSoSecretChangeIt
    aws_access_key_id: ~
    aws_secret_key: ~
    aws_sqs_region: ~
    aws_sqs_version: ~
    aws_sqs_queue_exteral_prefix: ~
    aws_sqs_queue_interal_prefix: ~
    aws_sqs_queue_mixblup_input_prefix: ~
    aws_sqs_queue_mixblup_output_prefix: ~

    aws_s3_region: ~
    aws_s3_version: ~
    aws_s3_bucket: ~

