# To get started with security, check out the documentation:
# RTFM http://symfony.com/doc/current/book/security.html
# RTFM http://symfony.com/doc/current/book/security.html#where-do-users-come-from-user-providers
security:

    encoders:
        AppBundle\Entity\Person:
            algorithm: bcrypt

    # http://symfony.com/doc/current/book/security.html#where-do-users-come-from-user-providers
    providers:
        token_user_provider:
            entity:
                class: AppBundle:Person
                property: username

    firewalls:
        # To disable authentication on dev mode, comment out below DEV section
        dev:
            pattern: ^(?:(?!doc|signup|authorize|validate-token|password-reset|verify-ghost-token).)*$
            security: true
            stateless: true
            guard:
                authenticators:
                    - app.authenticator.token

        secured_area:
            pattern: ^(?:(?!doc|signup|authorize|validate-token|password-reset|verify-ghost-token).)*$
            security: true
            stateless: true
            guard:
                authenticators:
                    - app.authenticator.token