<h3>Nieuw wachtwoord voor NSFO dierregistratiesysteem</h3>

<p>Relatienummerhouder: {{ relationNumberKeeper }}</p>
<p></p>
<p>Geachte {{ firstName }} {{ lastName }},</p>
<p></p>
<p>Uw wachtwoord voor het online NSFO dierregistratiesysteem is vernieuwd.</p>

<p><i>Dit is een automatisch verstuurd bericht.</i></p>