{# SUB INFO #}
<div class="row border-top-1">
    <div class="col-xs-7">
        183240 A Braams, Roderwolderweg 40, 9314TB, FOXWOLDE
    </div>
    <div class="col-xs-3 text-right">
        {{ 'Datum: '~("now"|date("d-m-Y")) }}
    </div>
    <div class="col-xs-2 text-right">
        Pagina 2
    </div>
</div>
